/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

body{
    font-family:'Montserrat', sans-serif;
    background:#030303;
    color:#f5f5f5;
    overflow:hidden;
}

/* =========================
   FONDO GLOBAL
========================= */

body::before{
    content:"";
    position:fixed;
    inset:0;

    background:url("assets/textures/fondo.jpg")
    center center / cover no-repeat;

    z-index:-2;
}

body::after{
    content:"";
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.35);

    z-index:-1;
}

/* =========================
   TIPOGRAFÍA
========================= */

h1{
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:-0.05em;
}

h2{
    font-weight:700;
}

p{
    line-height:1.5;
}

a{
    color:inherit;
    text-decoration:none;
}

/* =========================
   COLOR SISTEMA
========================= */

:root{
    --red:#8b0000;
    --red-hover:#b00000;
    --white:#f5f5f5;
    --gray:#8f8f8f;
}

/* =========================
   BOTÓN OBSERVATORIO
========================= */

.back-home{
    position:fixed;
    top:30px;
    left:30px;

    width:145px;
    height:70px;

    border-radius:20px;

    background:var(--red);

    box-shadow:0 0 25px rgba(139,0,0,.5);

    z-index:999;

    transition:.3s ease;
}

.back-home:hover{
    width:190px;
    background:var(--red-hover);
}

.back-home span{
    display:flex;
    align-items:center;

    height:100%;

    padding-left:18px;

    opacity:0;

    font-weight:800;
    font-size:14px;
    text-transform:uppercase;

    transition:.3s ease;
}

.back-home:hover span{
    opacity:1;
}

/* =========================
   CONSTELACIÓN
========================= */

.constelacion{
    position:fixed;
    top:40px;
    right:70px;

    z-index:100;
}

.constelacion a{
    font-size:11px;
    text-transform:uppercase;
    margin-left:15px;

    transition:.25s;
}

.constelacion a:hover,
.constelacion a.activo{
    color:var(--red-hover);
}